.container {
	display: flex;
	display: -webkit-flex;
}

.container > article {
	width: 30%;
	border: 1px solid lightblue;
	margin: 10px;
	margin: 0 auto;
}

.container > article > header {
	border-bottom: 1px dotted lightgray;
}

.container > article > header > h2 {
	text-align: center;
}

.container > article > section > div:first-child {
	text-align: center;
}

.container > article > section > div > img {
	overflow: hidden;
	width: 80%;
}

.availability {
	background: darkgray;
	color: yellow;
}

span {
	font-weight: bold;
}

h3 {
	justify-content: flex-start;
}

.card-footer {
	font-size: 0.8em;
}